@import url('https://fonts.googleapis.com/css?family=titillium+web:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Colours */


.bg-socials{
    background-color:#efeee7;
}

.bg-nav{
    background-color: #efeee7;
}
/* Header */


.navbar li a{
    display: inline-block;
    color: #30292F;
    font-size: 25px;
   

}

.navbar-brand{
    color: #30292F;
    font-size: 70px;
    font-family: 'titillium web', sans-serif;
    font-weight: 700;
  
}

.nav-items{
    display: inline-block;
    align-content: center;
    padding-top: 5px;
    padding-left: 40px;
    color: #30292F;
}


/* Homepage */

body{
    min-height: 100vh;
}



.jumbotron {
    
background-image: url(../images/deniz-altindas-t1XLQvDqt_4-unsplash.jpg);
background-color: #40678e;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 360px;
-moz- transition: all 5s ease-in-out;
-webkit- transition: all .5s ease-in-out;

}


.key-principles, .adult-sg, .child-sg{
    padding: 30px 10px;
    margin-top: 30px;
}

.child-sg h3, .adult-sg h3{
    text-align: center;
    padding-bottom: 20px;

}

.main-images{
   display: block;
    max-width: 320px;
    height: auto;
    align-content: center;
}

.media-1{
    background: url("../images/6\ principles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    -moz- transition: all 5s ease-in-out;
    -webkit- transition: all .5s ease-in-out;
}

.media-2{
    background: url("../images/adult\ safeguarding.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    -moz- transition: all 5s ease-in-out;
    -webkit- transition: all .5s ease-in-out;
}

.media-3{
    background: url("../images/pexels-cottonbro-7086103.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    -moz- transition: all 5s ease-in-out;
    -webkit- transition: all .5s ease-in-out;
}

hr{
    border: 3px solid;
    background-color: #30292F;
    width: 75%;
}

.sg-text p{
    text-align: center;
}

/* sign-steps */

/* Resources */

/* Footer */

footer{
    position: fixed;
  
    bottom: 0;
    height: 40px;
 
 }


.list-inline{
    text-align: center;
    font-size: larger;
}
.list-inline-items{
    display: inline-block;
    padding: 5px 20px;
    color: #30292F;
}

.list-inline-items a i{
    color: #30292F;
}